.projects {
  padding: 40px 0px;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.projects__title {
  font-size: 32px;
  line-height: 40px;
  margin: 0px;
  padding-bottom: 10px;
}

.projects__description {
  font-size: 16px;
  line-height: 30px;
  margin: 0px;
}

.project-list__label {
  font-size: 28px;
}
