.all-posts {
  padding: 20px 0px 40px;
}

.all-posts__label {
  font-size: 24px;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 25px;
  text-align: center;
}

.all-posts__posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: minmax(320px, auto);
  gap: 3rem 2.5rem;
}
