.aboutMe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(480px, auto);
  gap: 1.5rem;
}

.aboutMeInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMeDescription {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
}

.aboutMePic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.aboutMePic img {
  border-radius: 50%;
}

.welcomeInfo {
  line-height: 30px;
}

@media (max-width: 48em) {
  .aboutMe {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding: 40px 0px;
  }
  .aboutMePic {
    justify-content: center;
  }
  .aboutMeDescription {
    font-size: 20px;
    line-height: 36px;
    margin: 0px 0px 10px;
  }
}

@media (max-width: 24em) {
  .aboutMePic img {
    width: 100%;
  }
}
