.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  margin-right: 16px;
}

.nav-item:last-of-type {
  margin-right: 0px;
}
