.footer {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-size: 14px;
}

.footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  display: flex;
}

.footer ul li {
  margin-right: 12px;
}

.footer ul li:last-of-type {
  margin-right: 0px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 48em) {
  .footer {
    flex-direction: column;
  }
  .footer__copyright {
    font-size: 12px;
    padding-bottom: 20px;
  }
}
