.about-me-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(480px, auto);
  gap: 1.5rem;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
